SUBSYSTEM=="wbm", GROUP="adm", MODE="0660"
SUBSYSTEM=="wbs", GROUP="adm", MODE="0660"
SUBSYSTEM=="tty", SUBSYSTEMS=="usb-serial", DRIVERS=="wishbone_serial", GROUP="adm", MODE="0660"
